
.hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    justify-content: left;
    align-items: left;
    padding: 1rem;
    
    
}

.hero-text-1 {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    line-height: normal;
}

.hero-text-2 {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    line-height: normal;
    
}


.hero-title-h1 {
    font-size: 3.5rem;
  line-height: 1.2;
  padding: 1rem 0;
  text-align: left;
  margin:  0;
  font-weight: 700;
  
}

.hero .left {
    padding: 1rem;
}



.hero .input-container {
    padding: 1rem 0;
}

.hero .right {
    padding: 1rem;
}

.hero .img-container {
    width: 100%;
    display: flex;
}

.hero img {
    max-width: 80%;
    margin: auto;
}

.btn2_hero {
    padding: 14px 32px;
    background-color: var(--primary);
    color: #fff;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    line-height: normal;
  }

  .btn2_hero:hover {
    background-color: #f08b12;
  }


@media screen and (max-width: 960px) {

.hero .container {
    grid-template-columns: 1fr;
    margin: 1rem 0;
}

.btn2_hero {
    width: 100%;
}


.hero-text-1 {
    font-size: 1rem;
  }

.hero-text-2 {
    font-size: 1rem;
  }


.hero-title-h1 {

    font-size: 2.1rem;
    line-height: 1.2;
  }

}

